
/*
Шрифт Монсерат. Monserat

Google Fonts

Импорт шрифта в css
*/

body {
    background: #CCC;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-width: 700;
    font-size: 2em;
}

/* ---- MAIN ----*/

.main {
    width: 1024px;
    min-height: 500px;
    margin: 0 auto;
    background: #FFF;
}

.main-row {
    margin: 0 0 5px;
    border: 1px solid #999;
    min-height: 50px;
}




